<html>
  <head>
    <title>Instagram Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    .FollowersBody
    {
      width:80%;
    }
    .navbar
    {
      margin-top:1%;
      border-radius: 10px;
    }
    .DetailsTable
    {
      border:1px black solid;
      padding:10px;
    }
  </style>
  <body>
    <center>
      <div class="FollowersBody">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/ProfilePage">Instagram Clone</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li><a href="/ProfilePage">Home</a></li>
                  <li><a href="/followers?user_Email={{ UserProfile.user_Email }}">User's Followers List</a></li>
                  <li><a href="/following?user_Email={{ UserProfile.user_Email }}">User's Following List</a></li>
                  <li><a href="" data-toggle="modal" data-target="#SearchUserModal">Search User</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ loginLink }}"><span class="glyphicon glyphicon-log-in"></span> {{ loginStatus }}</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div style="border-top:1px solid black;margin-top:10px;padding:0px;padding-bottom:10px;"></div>
          <div class="row">
            <div class="col-sm-12"><b>Displaying {{ UserProfile.user_Email }}'s followers list as below</b></div>
          </div>
          <div style="border-top:1px solid black;margin-top:10px;padding:0px;padding-bottom:10px;"></div>
          <div class="row">
            <div class="col-sm-12"><br></div>
          </div>
          {% if UserProfile.followers_List %}
            {% for i in UserProfile.followers_List %}
              <a href="/otherUserProfile?OtherUserEmail={{ i }}">{{ i }}</a>
              <br>
              <br>
            {% endfor %}
          {% else %}
            Unfortunately there are no followers to display.
            <br>
            <br>
          {% endif %}
          <div style="border-top:1px solid black;margin-top:10px;padding:0px;padding-bottom:10px;"></div>
      </div>

<!-- Search User Modal Code Starts Here -->
      <div name="SearchUserModal" id="SearchUserModal" style="margin-top:10%;" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search user by Username</h4>
            </div>
            <div class="modal-body">
              <form action="/SearchUser" method="post">
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-6">
                    <center>
                      <input type='textbox' class="form-control" name='UserSearchKeyword' id='UserSearchKeyword' placeholder="Enter Search Keyword" /required>
                    </center>
                  </div>
                  <div class="col-sm-3"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><br></div>
                </div>
                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-2">
                    <input type='submit' class="btn btn-default" name='submitButton' id='SearchButton' value='Search'>
                  </div>
                  <div class="col-sm-2">
                    <input type="reset" class="btn btn-default" value="Reset">
                  </div>
                  <div class="col-sm-4"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
<!-- Search User Modal Code Ends Here -->

    </center>
  </body>
</html>
