<html>
  <head>
    <title>Instagram Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    .TimelinePageBody
    {
      width:80%;
    }
    .navbar
    {
      margin-top:1%;
      border-radius: 10px;
    }
    .DetailsTable
    {
      border:1px black solid;
      padding:10px;
    }
    #toTop
    {
      background:Black;
      color:white !important;
      font-size:20px;
      position:fixed;
      bottom:25px;
      right:25px;
      display:None;
      padding:20px;
      border-radius:50px;
    }
  </style>
  <script>
  $(document).ready(function()
  {
        $('body').append("<button id='toTop' class='backtotop'>Back To Top</button>");
      	$(window).scroll(function () {
  			if ($(this).scrollTop() != 0) {
  				$('#toTop').fadeIn();
  			} else {
  				$('#toTop').fadeOut();
  			}
  		});
      $('#toTop').click(function(){
          $("html, body").animate({ scrollTop: 0 }, 2000);
          return false;
      });
  });
  </script>
  <script>
  function bs_back_to_top() {
    wp_register_script( 'bs-back-to-top', get_stylesheet_directory_uri() . '/js/bs-back-to-top.js', array('jquery'), '1.0.0', true );
    wp_enqueue_script( 'bs-back-to-top' );
  }
  add_action( 'wp_enqueue_scripts', 'bs_back_to_top', 99 );
  </script>
  <body>
    <center>
      <div class="TimelinePageBody">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="/ProfilePage">Instagram Clone</a>
            </div>
              <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="/ProfilePage">Home</a></li>
                <li><a href="/followers">Followers</a></li>
                <li><a href="/following">Following</a></li>
                <li><a href="" data-toggle="modal" data-target="#SearchUserModal">Search User</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ loginLink }}"><span class="glyphicon glyphicon-log-in"></span> {{ loginStatus }}</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div style="border-top:1px solid black;margin-top:10px;padding:0px;padding-bottom:10px;"></div>
          {% if timeline_Post_Count != 0 %}
            Below are posts of <b>"{{ userLoggedIn.email() }}"</b> and also displaying posts of users to whom <b>"{{ userLoggedIn.email() }}"</b> is following.
            <br>
            <br>
            <b>Please Note: Only latest 50 posts are displayed here based on date and time of their postings.</b>
            <div style="border-top:1px solid black;margin-top:10px;padding:0px;padding-bottom:10px;"></div>
            {% for i in range(0,timeline_Post_Count) %}
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 DetailsTable">Posted on {{ DateTime[i] }}</div>
                <div class="col-sm-4 DetailsTable">Posted by <a href="/otherUserProfile?OtherUserEmail={{ timeline_Post_Users[i] }}">{{ timeline_Post_Users[i] }}</a></div>
                <div class="col-sm-2"></div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 DetailsTable">Caption : <a href="/ViewAllComments?user_Email={{ timeline_Post_Users[i] }}&image_Key={{ timeline_Post_Image_Key[i] }}">{{ timeline_Post_Captions[i] }}</a></div>
                <div class="col-sm-2"></div>
              </div>
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 DetailsTable">
                  <img src="{{ timeline_Post_Image_Urls[i] }}" alt="Error while displaying image." style="max-width:500px;max-height:600px;">
                </div>
                <div class="col-sm-2"></div>
              </div>
              <br>
              <form action="/timeline?image_Key={{ timeline_Post_Image_Key[i] }}" method="post">
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-6">
                    <textarea class="form-control" name='CommentBox' placeholder="Start typing you comment here.." maxlength="200" /required></textarea>
                  </div>
                  <div class="col-sm-2">
                    <input type="submit" class="btn btn-default" name="submitButton" value="Comment">
                    <input type="reset" class="btn btn-default" value="Reset">
                  </div>
                  <div class="col-sm-2"></div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    {% if NumberOfComments[i] <= 5 %}
                      {% for j in range(NumberOfComments[i]-1,-1,-1) %}
                        <a href="/otherUserProfile?OtherUsername={{ Commenting_User[i][j] }}">
                          {{ Commenting_User[i][j] }}
                        </a> : {{ Comments[i][j] }}
                        <br>
                      {% endfor %}
                    {% elif NumberOfComments[i] == 0 %}
                      {% for j in range(NumberOfComments[i]-1,-1,-1) %}
                        <a href="/otherUserProfile?OtherUsername={{ Commenting_User[i][j] }}">
                          {{ Commenting_User[i][j] }}
                        </a> : {{ Comments[i][j] }}
                        <br>
                      {% endfor %}
                    {% else %}
                      {% for j in range(NumberOfComments[i]-1,NumberOfComments[i]-6,-1) %}
                        <a href="/otherUserProfile?OtherUsername={{ Commenting_User[i][j] }}">
                          {{ Commenting_User[i][j] }}
                        </a> : {{ Comments[i][j] }}
                        <br>
                      {% endfor %}
                      <br>
                      <a href="/ViewAllComments?user_Email={{ timeline_Post_Users[i] }}&image_Key={{ timeline_Post_Image_Key[i] }}">
                        Click here to view all comments.
                      </a>
                      <br>
                      <br>
                    {% endif %}
                  </div>
                  <div class="col-sm-2"></div>
                </div>
              </form>
              <div class="row">
                <div class="col-sm-12"><br><br></div>
              </div>
            {% endfor %}
          {% else %}
            Unfortunately there are no posts to display.
          {% endif %}
        <div style="border-top:1px solid black;margin-top:10px;padding:0px;padding-bottom:10px;"></div>
      </div>

<!-- Search User Modal Code Starts Here -->
      <div name="SearchUserModal" id="SearchUserModal" style="margin-top:10%;" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search user by Username</h4>
            </div>
            <div class="modal-body">
              <form action="/SearchUser" method="post">
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-6">
                    <center>
                      <input type='textbox' class="form-control" name='UserSearchKeyword' id='UserSearchKeyword' placeholder="Enter Search Keyword" /required>
                    </center>
                  </div>
                  <div class="col-sm-3"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><br></div>
                </div>
                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-2">
                    <input type='submit' class="btn btn-default" name='submitButton' id='SearchButton' value='Search'>
                  </div>
                  <div class="col-sm-2">
                    <input type="reset" class="btn btn-default" value="Reset">
                  </div>
                  <div class="col-sm-4"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
<!-- Search User Modal Code Ends Here -->

    </center>
  </body>
</html>
